.position__box__left {
  background-color: navy;
  width: fit-content;
  padding: 8px 28px;
  border-radius: 25px;
  color: white;
  size: 22px;
}
.position__box__right {
  background-color: rgb(55, 3, 71);
  width: fit-content;
  padding: 8px 24px;
  border-radius: 25px;
  color: black;
  size: 22px;
  background-color: white;
}
.wallet__button {
  background-color: navy;
  width: fit-content;
  padding: 8px 28px;
  border-radius: 25px;
  color: white;
}
.middle__box {
  text-align: center;
  padding-top: 28px;
  padding-bottom: 34px;
}
.view__box {
}
.guideline {
  background: #000080;
  background: linear-gradient(to bottom, #000080 0%, #000071 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #000080),
    color-stop(100%, #000071)
  );
  background: -webkit-linear-gradient(top, #000080 0%, #000071 100%);
  background: -moz-linear-gradient(top, #000080 0%, #000071 100%);
  background: -o-linear-gradient(top, #000080 0%, #000071 100%);
  background: -ms-linear-gradient(top, #000080 0%, #000071 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000080', endColorstr='#000071', GradientType=0);
  border: 1px solid #000062;
  box-shadow: inset 0 1px 0 #0f0f8f;
  -webkit-box-shadow: inset 0 1px 0 #0f0f8f;
  -moz-box-shadow: inset 0 1px 0 #0f0f8f;
}

.topPools {
  background-color: #b8c6db;
  background-image: linear-gradient(200deg, #b8c6db 0%, #f5f7fa 74%);
}

.pool__text__box__left {
  border-radius: 25px;
}
.pool__text__box__right {
  border-radius: 25px;
}
.pool__large {
  width: 70%;
  margin: 0 auto;
}
